#menuMain{
	background-color: #F39C12 !important;
}

#form-search{
	position: relative;
    margin-right: 39%;
}


#carouselExampleIndicators{
	margin-top: 5%;
	margin-left: 11%;
	margin-right: 11%;
}


#box-info{
	margin-left: 46%;
	margin-bottom: 6%;
	background-color: white;
	color: black;

}

footer{
	color: #D7DBDD;
}

.footer-content{
	text-align: center;
}

	.footer-content ul{
		list-style: none;
	}

		.footer-content ul li{
			margin-top: 20px;
			margin-right: 11%;
		}

		.footer-content ul li a{
			text-decoration: none;
			color: #AAB7B8;
		}

		.footer-content ul li a:hover{
			color: #D5DBDB;
		}

a.dropdown-item:hover{
	background-color: #F8C471;
	color: white;
}

a#navbarDropdownPortfolio:hover{
	color: #fff;
}